<div class="footer-circle__bg"></div>
<div class="container">
    <div class="footer-title d-flex gap-3 justify-content-center align-items-center">
        <img src="images/logo.png" alt="logo">
        <h1>Tasty Bites Inc.</h1>
    </div>
</div>
<div class="container d-flex">
    <div class="footer-hero">
        <div class="footer-top">
            <h3>Philippines</h3>
        </div>
        <div class="footer-address">
            <p class="footer-address__email">tasty.bites@gmail.com</p>
            <p>+63-925-5214-521</p>
            <p>B92 Tangkil St. General Trias City, Cavite 4107.</p>
        </div>
        <div class="footer-map">
            <a href="https://maps.app.goo.gl/aF4QXux5qux6PVdv6" target="_blank">
                SEE ON MAP
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </div>
    <div class="footer-nav">
        <div class="footer-top">
            <h3>Quick Links</h3>
        </div>
        <div class="footer-links__site">
            <a href="#home">Home</a>
            <a href="#">About</a>
            <a href="#bestfood">Best Food</a>
            <a href="#">Menu</a>
            <a href="#contact">Contact</a>
        </div>
    </div>
    <div class="footer-follow">
        <div class="footer-top">
            <h3>Follow Us</h3>
        </div>
        <div class="footer-follow-social">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
        </div>
    </div>
</div>
<hr class="footer-hr">
<div class="container">
    <div class="footer-author d-flex justify-content-between">
        <p>© 2023. Tasty Bites. All Rights Reserved. </p>
        <p> Developed By <span>Francisnpls.</span> </p>
    </div>
</div>