<div class="container d-flex justify-content-between align-items-center">
    <div class="nav-bar__logo">
        <img src="images/logo.png" alt="logo">
    </div>
    <div class="nav-bar__menu">
        <ul class="d-flex align-items-center gap-5 nav-bar__menu-links">
            <li><a href="index.html#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="index.html#bestfood">Best Food</a></li>
            <li><a href="menu.html">Menu</a></li>
            <li><a href="#includedFooter">Contact</a></li>
        </ul>
    </div>
    <div class="nav-bar__burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</div>
<div class="nav-bar__modal">
    <div class="nav-bar__modal-logo">
        <img src="images/logo.png" alt="logo">
    </div>
    <hr>
    <div class="nav-bar__modal-menu">
        <ul class="nav-bar__modal-link">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#bestfood">Best Food</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
    <hr>
    <div class="nav-bar__modal-social">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-tiktok"></i></a>
    </div>
</div>